.mask-group-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1992px;
  height: 930px;
  opacity: 0.2;
}
.desktop-1-1,
.desktop-1-2 {
  position: absolute;
  top: 82px;
  left: 35px;
  width: 764px;
  height: 5283px;
  object-fit: cover;
}
.desktop-1-2 {
  top: 0;
  left: 814px;
  width: 376px;
  height: 2543.27px;
}
.product-card-image {
  position: relative;
  background-color: #035f37;
  width: 100%;
  height: 840px;
  overflow: hidden;
}
